<div class="onepage">

    <div id="home" class="bgimg-1 home">
        <div class="caption3">
        </div>
    </div>

    <div class="parthing">
        <div data-full="true" id="mission" class="onepage">
            <div class="container-main">
                <div class="mission-container">
                    <div class="vertical-align mission-text">
                        <i>Mission</i> answers the question “Why do we exist?”
                        <br/>
                        <br/>
                        <i>Vision</i> answers the question “What will the future look like as we fulfill our mission? What
                        will be different?”
                        <br/>
                        <br/>
                        While mission is about today, vision is about the future, what we will become.
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border sthtoget">DO SOMETHING TOGETHER!</span>
        </div>
    </div>

    <div class="parthing posrel">
        <div data-full="true" class="onepage">
            <div class="container-main">
                <div class="vertical-align" id="howitworks">
                    You can register and find good program.
                    <br/>
                    <br/>
                    Very easy to use and it could be so much fun.
                    <br/>
                    <br/>
                    We hope you will enjoy it.
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <span class="border sthtoget">FIND NEW FRIENDS!</span>
        </div>
    </div>

    <div class="bgimg-5">
        <div class="caption2">
            <div class="container-main vertical-align" id="contact">
                <form id="contactus">
                    <div class="contactus">
                        <div class="head">
                            <h2 class="h2-main">Contact Us!</h2>
                        </div>
                        <input class="input-main" type="text" name="name" placeholder="Name"/><br/>
                        <input class="input-main" type="email" name="email" placeholder="Email"/><br/>
                        <textarea class="textarea-main" type="text" name="message" placeholder="Message"></textarea><br/>
                        <div class="message">Message Sent</div>
                        <button id="submit" type="submit">
                            Send!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>