<div id="event" class="eventondashbord container">


    <div class="events" ng-repeat="event in events">
            <section id="eventName" class="eventName"><li class="eventondashbord-head-text">{{event.name}}</li></section>
            <section id="eventLocation" class="eventLocation"><li class="eventondashbord-text">{{event.location}}</li></section>
            <section id="eventDate" class="eventDate"><li class="eventondashbord-text">{{event.date}}</li></section>
            <section id="eventInsterest" class="eventInsterest"><li class="eventondashbord-text">{{event.interest}}</li></section>
    </div>

</div>