html
{
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

body
{
    top: 300px;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #c6eaa8;
}

div {
    display: block;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #40798C;
    z-index: 99;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 30px;
    line-height: 50px;
}

.nav-link{
    display: block;
}

li
{
    display: inline;
    padding: 0 20px;
}

.page{
    top: 100px;
}

.form-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-control:focus {
    box-shadow: #0b2027;
    outline: auto;

}