body {
    background-color: #70a9a1;
    font-family: "Quicksand", "Helvetica Neue", sans-serif;
    color: #fff;
    padding: 50px 0;
    vertical-align: middle;
}

.container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.row {
    display: table-cell;
    vertical-align: middle;
}

#notFoundDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px 20px 40px;
    border-radius: 5px;
    background-color: #0b2027;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
    color: white;
}

.alien {
    max-width: 50px;
}

#alien {
    max-width: 60px;
}

#gandalf {
    max-width: 100px;
}

h1 {
    size: 60px;
}

.btn-lg {
    font-weight: bold;
    border-radius: 5px;
    background-color: #40798c;
    color: #0b2027;
    border-color: transparent;
}

.btn-lg:hover {
    background-color: #c6eaa8;
    color: #0b2027;
    border-color: transparent;
}