* {
    font-family:"Quicksand", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

html {
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

body {
    top: 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #82D4BB;
    color: #313131;
    font-size: 62.5%;
    line-height: 1;
}



nav {
    top: 0;
    left: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    text-align: right;
    margin: 0;
    padding: 0;
    padding-right: 5%;
}

.navbar {
    top: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}


nav a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 30px;
    line-height: 50px;
    font-size: larger;
}

.nav-link {
    display: block;
}

a:hover {
    text-decoration: none;
    color: #82D4BB;
}

nav > .fix-top > .li-navbar {  display: inline; }

nav > .fix-top > .li-navbar > a:hover {
    color: white;
    font-size: larger;}

.navbar-collapse .navHeaderCollapse {
    display: none;
}

.navbar-inverse .navbar-nav > .li-navbar> a {  color: white;   cursor: pointer}

.navbar-inverse .navbar-nav > .li-navbar> a:hover {
    font-style: oblique;
    font-size: initial;  }


div {
    display: block;
}

.navbar-collapse .navHeaderCollapse {
    display: none;
}

.navbar-inverse .navbar-nav > .li-navbar> a {  color: white;   cursor: pointer}

.navbar-inverse .navbar-nav > .li-navbar> a:hover {
    font-style: oblique;
    font-size: initial;  }

#menubutton { border: transparent !important; cursor: pointer}
#menubutton:hover, #menubutton:focus { background-color: #82D4BB; border: transparent !important;}

{ background-color: transparent}

/* Collapse breakpoint changed */
@media (max-width: 943px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav > .li-navbar {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav > .li-navbar > a {
        text-align: right;
        background-color: rgba(0,0,0,0.5);
        margin-left: 70%;
        margin-right: 10px !important;
        display: block;
        padding: 10px;
    }
    .navbar-inverse .navbar-nav > .li-navbar> a:hover { background-color: rgba(0,0,0,0.5);}

}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: x-large;
}

.navbar-inverse .navbar-collapse { border-color: transparent}

.li-navbar
{
    display: inline;
    padding: 0 20px;
}