* { font-family:"Quicksand", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;}

html {
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

body
{
    top: 300px;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}

.navbar-collapse .navHeaderCollapse {
    display: none;
}

.navbar-inverse .navbar-nav > li> a {  color: white;   cursor: pointer}

.navbar-inverse .navbar-nav > li> a:hover {
    font-style: oblique;
    font-size: initial;  }

#menubutton { border: transparent !important; cursor: pointer}
#menubutton:hover, #menubutton:focus { background-color: #82D4BB; border: transparent !important;}

{ background-color: transparent}

/* Collapse breakpoint changed */
@media (max-width: 943px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav > li > a {
        text-align: right;
        background-color: rgba(0,0,0,0.5);
        margin-left: 70%;
        margin-right: 10px !important;
        display: block;
        padding: 10px;
    }
    .navbar-inverse .navbar-nav > li> a:hover { background-color: rgba(0,0,0,0.5);}

}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: x-large;
}

.navbar-inverse .navbar-collapse { border-color: transparent}

li
{
    display: inline;
    padding: 0 20px;
}

.onepage
{
    perspective: 1px;
    height: 100vh;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
}

.home{
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.posrel{
    position:relative;
}

.parthing{
    height:300px;
    font-size:20px;
    text-align: center;
    background-color:white;
    padding:50px 80px;
}

.bgimg-1 {
    background-color: #82D4BB;
    background-image: url("../images/bghome.png");
    background-size: 55%;
    min-height: 200px;
    position: relative;
    opacity: 0.95;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.bgimg-2 {
    background-image: url("../images/img_parallax3.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("../images/img_parallax2.jpeg");
    min-height: 400px;
}

.bgimg-5 {
    background-color: #82D4BB;
    min-height: 600px;
    align-content: center;
}

.sthtoget
{
    background-color:transparent;
    font-size:25px;
    color: #ffffff;
}



.bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5{
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.caption3 {
    position: absolute;
    left: 0;
    top: 280px;
    width: 100%;
    text-align: center;
}

.caption2 {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    text-align: center;
}

.caption span.border {
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.caption span.borderv2 {
    font-size: 25px;
    letter-spacing: 6px;
    top: 200px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.message {
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#82D4BB;
    width: 80%;
    margin:auto;
    color: #0b2027;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}

.container {
    max-width:600px;
    margin:0 auto;
    text-align:center;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background-color: #ffffff;
}
.head {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-color: transparent;
    color:#0b2027;
}
h2 {
    text-align:center;
    padding:18px 0 18px 0;
    font-size: 3.5em;
    font-weight: 900;
    color: #E3F5D4;
}
input {
    margin-bottom:10px;
}
textarea {
    height:100px;
    margin-bottom:10px;
}
input:first-of-type
{
    margin-top:35px;
}
input, textarea {
    font-family:"Quicksand", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background: white;
    color: #0b2027;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
}

#submit {
    margin-top:15px;
    font-size: larger;
    margin-bottom:25px;
    background-color: #c6eaa8;
    padding: 12px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c6eaa8;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    cursor: pointer;
    width:30%;
    color: #0b2027;
}
#submit:hover {
    background: #E3F5D4;
    border-color: transparent;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
label.error {
    font-size:1em;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#d89c9c;
    width: 80%;
    margin:auto;
    color: #0b2027;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
/* media queries */
@media (max-width: 700px) {
    label.error {
        width: 90%;
    }
    input, textarea {
        width: 90%;
    }
    #submit {
        width:40%;
    }
    body {
        padding-top:10px;
    }
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

#howitworks {
    background-color: #ffffff;
    padding-top: 40px;
}

#contact {
  background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3);;
}