@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    margin: 0;
}
body {
    font-family:"Quicksand", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #82D4BB;
    height: 100vh;
    background-size: cover;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    top: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #292f36;
    z-index: 99;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-right: 5%;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 30px;
    line-height: 50px;
    font-size: larger;
}

.nav-link{  display: block;  }

a:hover {  text-decoration: none; color: #82D4BB;}


#loginBg {
    background-color: #292f36;
    color: #f9f9f9;
    border-radius: 5px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#formError {
    background-color: #292f36;
    font-weight: bold;
    box-shadow: 5px 5px 10px #333333;
    padding: 10px;
    width: auto;
    text-align: center;
    margin: 10px auto;
    color: #f9f9f9;
}

#loginBtn {
    background-color: #64a390;
    color: #f9f9f9;
    position: relative;
    border: none;
}

#signupBtn {
    background-color: #64a390;
    color: #f9f9f9;
    position: relative;
    border: none;
}

#signupBtn > a, #signupBtn > div {
    text-align: center;
}

#loginBtn > a, #loginBtn > div {
    text-align: center;
}

#loginBtn:hover, #signupBtn:hover {
    background-color: #95dbc6;
    color: #292f36;
}

#signupBtnDiv > p {
    margin: 10px;
}

#buttonDiv {
    display: inline-flex;
}

