
.label-profile_form {  font-size: large; }

.container-profile_form {
    margin-right: 20%;
    margin-left: 20%;
}

.title {
    margin-bottom: 50px;
    margin-top: 100px;
    text-align: center;
    color: #292f36;
    font-weight: bolder;
}

.li-profile_form {
    display: inline;
    padding: 0 20px;
}

.page{  top: 100px;  }

.form-group, .form-check-inline {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-control:focus {
    box-shadow: #0b2027;
    outline: auto;
}

.input-profile_form {  padding: 20px;  }

.input-profile_form::-webkit-input-placeholder {
    color: lightgrey !important;
    font-style: italic;
}

.input-profile_form:-moz-placeholder { /* Firefox 18- */
    color: lightgrey !important;
    font-style: italic;
}

.input-profile_form::-moz-placeholder {  /* Firefox 19+ */
    color: lightgrey !important;
    font-style: italic;
}

.input-profile_form:-ms-input-placeholder {
    color: lightgrey !important;
    font-style: italic;
}
textarea::-webkit-input-placeholder {
    color: lightgrey !important;
    font-style: italic;
}

.textarea-profile_form:-moz-placeholder { /* Firefox 18- */
    color: lightgrey !important;
    font-style: italic;
}

.textarea-profile_form::-moz-placeholder {  /* Firefox 19+ */
    color: lightgrey !important;
    font-style: italic;
}

.textarea-profile_form:-ms-input-placeholder {
    color: lightgrey !important;
    font-style: italic;
}

#cancel { background-color: #e5625e; border: none; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);}
#cancel:hover {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    background-color: #b74e4b}

#submit { border: none; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    box-shadow: 0 1px 4px rgba(0,0,0,0.5)}


.has-error .help-block, .help-block{
    background-color: #e5625e;
    color: white;
    font-size: larger;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.has-success .help-block,
.has-success .control-label{
    color: #0b2027;
}

.has-success .help-block  p{
    display: none;
}

