<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml" ng-app="actimate">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
    <meta http-equiv="cleartype" content="on"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <title>Actimate</title>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyACLX7LNDx6aPRJbliFct--cSQgZKoxXUQ&amp;libraries=places"></script>
    <script src="http://jvandemo.github.io/angularjs-google-maps/dist/angularjs-google-maps.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <!--Style-->
    <link rel="stylesheet" type="text/css" href="/css/create_event.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.1/angular-resource.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular-messages.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <!--AngularJS Controllers-->
    <script src="/js/controller/eventController.js"></script>
</head>

<body ng-controller="saveEventCtrl">

<nav>
    <ul class="fix top">

        <a sec:authorize="hasAuthority('ADMIN')" href="/admin">ADMIN</a>
        <li><a sec:authorize="isAuthenticated()" href="/u/profile" id="profile">PROFILE</a></li>
        <li><a sec:authorize="isAuthenticated()" id="logout" th:href="@{/logout}">LOGOUT</a></li>

    </ul>
</nav>

<div class="page">

    <h2> Create Event</h2>

    <form class="eventform" id="eventform" name="eventform" data-toggle="validator" ng-submit="saveEvent(eventform)">
        <div>

            <div>
                <h5>Choose a good name!</h5>
                <input type="text" id="event_name" class="createevent"
                       ng-class="{ 'has-error' : !eventform.name.$pristine }" name="name" required="required"
                       ng-model="event.name"/>
                <p ng-show="eventform.name.$pristine" class="help-block">This field is required.</p>
            </div>

            <div>
                <h5>What type of activity do you want to do?</h5>
                <label for="interest"> </label>
                <select id="interest" name="interest" ng-model="event.interest" required="required">
                    <option value="tennis">Tennis</option>
                    <option value="gokart">Gokart</option>
                    <option value="running">Running</option>
                    <option value="hiking">Hiking</option>
                    <option value="cinema">Cinema</option>
                    <option value="theater">Theater</option>
                    <option value="cardGames">Card Games</option>
                    <option value="cityWalks">City Walks</option>
                </select>

            </div>
            <div>
                <h5>Where do You want to go?</h5>
                <input type="text" gm-places-autocomplete="" ng-model="autocomplete" style="width: 300px;"
                       required="required"/>
            </div>
            <div>
                <h5>When do You want to go?</h5>
                <input class="createevent" type="date" required="required" name="date" ng-model="event.date"/>
            </div>
            <div>
                <h5>With how many mates?</h5>
                <input class="createevent" type="number" name="participants" min="0" max="20" required="required"
                       ng-model="event.participants"/>
            </div>
            <div>
                <h5>Tell something about your event!</h5>
                <input class="createevent" type="text" name="description" required="required"
                       ng-model="event.description"/>
            </div>

            <div>
                <a href="/u/dashboard" type="button" id="cancel" class="btn btn-info btn-lg">Cancel</a>
                <a href="/u/dashboard" type="button" id="submit" class="btn btn-info btn-lg"
                   ng-click="saveEvent()">Submit</a>
                <!--ng-disabled="eventform.$invalid || eventform.$pending"-->
            </div>

        </div>

    </form>

</div>

<script>
    $(document).ready(function () {
        $('#eventform').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                number: {
                    validators: {
                        integer: {
                            message: 'The value is not an integer'
                        }
                    }
                }
            }
        })
    });
</script>

</body>

</html>