<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml" ng-app="actimate">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
    <meta http-equiv="cleartype" content="on"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <title>Actimate</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="/js/controller/cardController.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/event_feed.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.1/angular-resource.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>-->
    <script type="text/javascript" src="/js/app.js"></script>
    <!--AngularJS Controller-->

</head>
<body ng-controller="cardCtrl">

<nav>
    <ul class="fix top">

        <li><a sec:authorize="hasAuthority('ADMIN')" href="/admin">ADMIN</a></li>
        <li><a sec:authorize="isAuthenticated()" href="/u/dashboard">HOME</a></li>
        <li><a sec:authorize="isAuthenticated()" href="/u/create_event">CREATE EVENT</a></li>
        <li><a sec:authorize="isAuthenticated()" href="/u/profile" id="profile">PROFILE</a></li>
        <li><a sec:authorize="isAuthenticated()" id="logout" th:href="@{/logout}">LOGOUT
            <span class="glyphicon glyphicon-log-out"></span></a></li>
    </ul>
</nav>


<div class="panel panel-default" ng-repeat="event in events">

    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left event-name">{{event.name}}</h3>
        <h3 class="panel-title pull-right interest">{{event.interest}}</h3>
    </div>
    <div class="col-md-6">
        <div class="card-block">
        <ul>
            <li>
                <h4 class="card-title date">{{event.date}}</h4>
                <p class="list-group-item-heading rel-date">relative date</p>
            </li>
            <li>
                <h4 class="list-group-item-text location">{{event.location}}</h4>
            </li>
            <li>
                <h4 class="list-group-item-text slots">{{event.participants}}</h4>
            </li>
        </ul>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card-img-bottom">
        </div>
    </div>

    <div class="panel-footer clearfix">
        <h3 class="panel-title pull-left user">{{event.user}}</h3>

        <a class="btn btn-primary pull-right btn-details" href="#">Details</a>
    </div>
</div>


</body>
</html>