<header>
    <div class="container" ng-controller="loginController">
        <div class="login-container">
            <div class="vertical-align">
                <h1>Welcome!</h1>
                <form method="post" id="myLogin">
                    <input type="text" placeholder="Enter username" required="required" ng-model="username"/><br>
                    <input type="password" placeholder="Enter password" required="required" ng-model="password"/><br>
                    <button type="submit" class="btn-login" ng-click="submit()">LOGIN</button>
                    <br>
                </form>
            </div>
        </div>
    </div>
</header>