<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="utf-8"/>
    <title>ActiMate</title>

</head>

<body>
<nav ng-controller="navController">
    <a sec:authorize="hasAuthority('ADMIN')" href="/admin">ADMIN</a>
    <a href="/">HOME</a>
    <a id="mission" href="/mission">MISSION</a>
    <a sec:authorize="isAuthenticated()" href="/u/profile" id="profile">PROFILE</a>
    <a sec:authorize="isAuthenticated()" id="logout" th:href="@{/logout}">LOGOUT</a>
    <a sec:authorize="!isAuthenticated()" id="register" href="/registration">REGISTER</a>
    <a sec:authorize="!isAuthenticated()" id="login" href="/login">LOGIN</a>
    <a id="contact" href="#contactSection">CONTACT</a>
</nav>
<header></header>
<div ng-app="mainApp">
    <ng-view></ng-view>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
</body>
</html>