<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ActiMate Home</title>
    <link rel="stylesheet" href="../static/css/style.css"/>

</head>
<body>

<nav>
    <a id="home" href="#homeSection">HOME</a>
    <a id="mission" href="#missionSection">MISSION</a>
    <a id="howTo" href="#howToSection">HOW IT WORKS</a>
    <a id="contact" href="#contactSection">CONTACT</a>
    <a id="register" href="#registerSection">REGISTER</a>
</nav>
<div id="homeSection" class="sect sectOne"></div>
<div id="missionSection" class="subSect"></div>
<div id="howToSection" class="sect sectTwo"></div>
<div id="contactSection" class="subSect"></div>
<div id="registerSection" class="sect sectThree"></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="../static/js/navigation.js"></script>
</body>
</html>