<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>AngularJS Routing</title>

</head>

<body>
<nav>
    <a id="home" href="#homeSection">HOME</a>
    <a id="mission" href="#mission">MISSION</a>
    <a id="howTo" href="#howToSection">HOW IT WORKS</a>
    <a id="contact" href="#contactSection">CONTACT</a>
    <a id="login" href="#login">LOGIN</a>
</nav>
<header></header>
<div ng-app="mainApp">
    <ng-view></ng-view>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
</body>
</html>