<header>
    <div id="mission">
    <div class="container" ng-controller="missionController">
        <div class="mission-container">
            <div class="vertical-align" id="missionText">
                <i>Mission</i> answers the question “Why do we exist?”
                <br/>
                <br/>
                <i>Vision</i> answers the question “What will the future look like as we fulfill our mission? What will be different?”
                <br/>
                <br/>
                While mission is about today, vision is about the future, what we will become.
                <br/>
                <br/>
                <br/>
                <a href="/" class="backBtn"><input type="button" class="btn btn-lg btn-block" id="backBtn"
                       value="BACK"/></a>
            </div>
        </div>
    </div>
    </div>
</header>