<!DOCTYPE html>
<html lang="en" ng-app="actimate">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>ActiMate</title>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Quicksand"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/profile_form.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular-messages.js"></script>
    <script type="text/javascript" src="/js/directives/profileDirective.js"></script>
</head>
<body profile-controller="profileController" load-user-ctrl="loadUserCtrl">
<div class="container">
    <h2>Your Profile</h2>
    <form name="profileForm" ng-submit="saveProfile(profileForm)" novalidate="novalidate" required="required"
          class="profileForm">
        <ul class="flex-outer">
            <li>
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" name="firstName" required="required" class="form-control"
                       ng-model="user.firstName" placeholder="Enter your first name here"/>
                <div ng-messages="profileForm.firstName.$error" ng-if="profileForm.firstName.$pristine">
                    <div ng-message="required" id="required-message"> * This field is required</div>
                </div>
            </li>
            <li>
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" class="form-control" ng-model="user.lastName"
                       placeholder="Enter your last name here"/>
            </li>
            <li>
                <label for="gender">Gender</label>
                <select id="gender" ng-model="user.gender">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="other">Other&hellip;</option>
                </select>
            </li>
            <li>
                <label for="language">Language</label>
                <input type="text" id="language" ng-model="user.language" placeholder="What language do you prefer"/>
            </li>
            <li>
                <label for="message">Introduce yourself!</label>
                <textarea rows="6" id="message" ng-model="user.introduction"
                          placeholder="Write a couple of words about yourself here..."></textarea>
            </li>
            <li>
                <p>Interests</p>
                <ul class="flex-inner">
                    <li>
                        <input type="checkbox" id="tennis" ng-model="user.interest.tennis"/>
                        <label for="tennis">Tennis</label>
                    </li>
                    <li>
                        <input type="checkbox" id="running" ng-model="user.interest.running"/>
                        <label for="running">Running</label>
                    </li>
                    <li>
                        <input type="checkbox" id="gokart" ng-model="user.interest.gokart"/>
                        <label for="gokart">Gokart</label>
                    </li>
                    <li>
                        <input type="checkbox" id="hiking" ng-model="user.interest.hiking"/>
                        <label for="hiking">Hiking</label>
                    </li>
                    <li>
                        <input type="checkbox" id="cinema" ng-model="user.interest.cinema"/>
                        <label for="cinema">Cinema</label>
                    </li>
                    <li>
                        <input type="checkbox" id="theater" ng-model="user.interest.theater"/>
                        <label for="theater">Theater</label>
                    </li>
                    <li>
                        <input type="checkbox" id="card-games" ng-model="user.interest.cardGames"/>
                        <label for="card-games">Card Games</label>
                    </li>
                    <li>
                        <input type="checkbox" id="city-walks" ng-model="user.interest.cityWalks"/>
                        <label for="city-walks">City Walks</label>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/u/profile" type="button" id="cancel" class="btn btn-info btn-lg">Cancel</a>
                <a href="/u/profile" type="button" id="submit" class="btn btn-info btn-lg"
                   ng-disabled="profileForm.$invalid" ng-click="saveProfile()">Submit</a>
            </li>
        </ul>
    </form>
</div>
</body>
</html>