

<div profile-controller="profileController" load-user-ctrl="loadUserCtrl">

<div class="title">
    <h2> Your Profile</h2>
</div>
<div class="container-profile_form">

    <form class="form-horizontal" id="profileForm" ng-submit="saveProfile(profileForm)" novalidate="novalidate">
        <!--User first name-->
        <div class="form-group"
             ng-class="
                 {'has-error':!profileForm.firstName.$valid &amp;&amp; (!profileForm.$pristine || profileForm.$submitted) }">
            <label for="first-name" class="col-sm-2 control-label">First name</label>
            <div class="col-sm-6">
                <input type="text"
                       placeholder="Your first name"
                       id="first-name"
                       class="form-control"
                       name="name"
                       required="required"
                       ng-model="user.firstName"
                       ng-pattern="/^[A-Za-z]/"
                       ng-pattern-err-type="wrongInputType"
                       ng-minlength="2"/>
            </div>
        </div>

        <!--User last name-->
        <div class="form-group">
            <label for="last-name" class="col-sm-2 control-label">Last name</label>
            <div class="col-sm-6">
                <input class="form-control"
                       id="last-name"
                       placeholder="Your last name"
                       type="text"
                       ng-model="user.lastName"/>
            </div>
        </div>
        <!--Gender-->
        <div class="form-group">
            <label for="gender" class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <select id="gender"
                            class="form-control"
                            name="gender" ng-model="user.gender">
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
        </div>
        <!--Language-->
        <div class="form-group">
            <label for="language" class="col-sm-2 control-label">Language</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <select id="language"
                            class="form-control"
                            name="gender" ng-model="user.language">
                        <option value="female">English</option>
                        <option value="male">Hungarian</option>
                    </select>
                </div>
            </div>
        </div>
        <!--Bio-->
        <div class="form-group">
            <label for="message" class="col-sm-2 control-label">About yourself</label>
            <div class="col-sm-6">
                        <textarea class="form-control"
                                  id="message" rows="8"
                                  placeholder="Tell us something about yourself..."
                                  name="introduction"
                                  ng-model="user.introduction"></textarea>
            </div>
        </div>
        <!--Interests-->
        <div class="form-group">
            <div class="form-check form-check-inline">
                <ul>
                    <li class="li-profile_form">
                        <input type="checkbox" id="tennis" ng-model="user.interest.tennis"/>
                        <label for="tennis">Tennis</label>
                    </li>
                    <li class="li-profile_form">
                        <input type="checkbox" id="running" ng-model="user.interest.running"/>
                        <label for="running">Running</label>
                    </li>
                    <li class="li-profile_form">
                        <input type="checkbox" id="gokart" ng-model="user.interest.gokart"/>
                        <label for="gokart">Gokart</label>
                    </li>
                    <li class="li-profile_form">
                        <input type="checkbox" id="hiking" ng-model="user.interest.hiking"/>
                        <label for="hiking">Hiking</label>
                    </li>
                    <li class="li-profile_form">
                        <input type="checkbox" id="cinema" ng-model="user.interest.cinema"/>
                        <label for="cinema">Cinema</label>
                    </li>
                    <li class="li-profile_form">
                        <input type="checkbox" id="theater" ng-model="user.interest.theater"/>
                        <label for="theater">Theater</label>
                    </li>
                    <li class="li-profile_form">
                        <input type="checkbox" id="cardGames" ng-model="user.interest.cardGames"/>
                        <label for="cardGames">Card Games</label>
                    </li>
                    <li class="li-profile_form">
                        <input type="checkbox" id="cityWalks" ng-model="user.interest.cityWalks"/>
                        <label for="cityWalks">City Walks</label>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="/u/profile" type="button" id="cancel" class="btn btn-info btn-lg">Cancel</a>
                <a href="/u/profile" type="button" id="submit" class="btn btn-info btn-lg"
                   ng-click="saveProfile()">Submit</a>
            </div>
        </div>


    </form>

</div>
</div>

