<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml" ng-app="actimate">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
    <meta http-equiv="cleartype" content="on"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <title>Actimate</title>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Quicksand"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <!--Style-->
    <link rel="stylesheet" type="text/css" href="/css/profile_form.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.1/angular-resource.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <!--AngularJS Controllers-->
    <script src="/js/directives/profileDirective.js"></script>
    <script rel="text/javascript" src="/js/jquery/editProfile.js"></script>

</head>

<body profile-controller="profileController" load-user-ctrl="loadUserCtrl">

<nav>
    <ul class="fix top">

        <li><a sec:authorize="hasAuthority('ADMIN')" href="/admin">ADMIN</a></li>
        <li><a sec:authorize="isAuthenticated()" href="/u/dashboard">HOME</a></li>
        <li><a sec:authorize="isAuthenticated()" href="/u/profile" id="profile">PROFILE</a></li>
        <li><a href="/u/create_event" id="createEvent">CREATE EVENT</a></li>
        <li><a sec:authorize="isAuthenticated()" id="logout" th:href="@{/logout}">LOGOUT
            <span class="glyphicon glyphicon-log-out"></span></a></li>

    </ul>
</nav>

<div class="title">
    <h2> Your Profile</h2>
</div>
<div class="container">

    <form action="/u/profile" class="form-horizontal" name="profileForm" id="profileForm" ng-submit="saveProfile(profileForm)" novalidate="novalidate">
        <!--User first name-->
        <div class="form-group"
             ng-class="
                 {'has-error':!profileForm.firstName.$valid &amp;&amp; (!profileForm.$pristine || profileForm.$submitted) }">
            <label for="firstName" class="col-sm-2 control-label">First name</label>
            <div class="col-sm-6">
                <input type="text"
                       placeholder="Your first name"
                       id="firstName"
                       class="form-control"
                       name="firstName"
                       required="required"
                       ng-model="user.firstName"
                       ng-pattern="/^[a-zA-Z\s]*$/"
                       ng-minlength="2"/>
                <p class="help-block" ng-show="profileForm.firstName.$error.required">Field required</p>
                <p class="help-block" ng-show="profileForm.firstName.$error.pattern">Only letters allowed</p>
            </div>
        </div>

        <!--User last name-->
        <div class="form-group">
            <label for="last-name" class="col-sm-2 control-label">Last name</label>
            <div class="col-sm-6">
                <input class="form-control"
                       id="last-name"
                       placeholder="Your last name"
                       type="text"
                       ng-model="user.lastName"/>
            </div>
        </div>
        <!--Gender-->
        <div class="form-group">
            <label for="gender" class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <select id="gender"
                            class="form-control"
                            name="gender" ng-model="user.gender">
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
        </div>
        <!--Language-->
        <div class="form-group">
            <label for="language" class="col-sm-2 control-label">Language</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <select id="language"
                            class="form-control"
                            name="gender" ng-model="user.language">
                        <option value="female">English</option>
                        <option value="male">Hungarian</option>
                    </select>
                </div>
            </div>
        </div>
        <!--Bio-->
        <div class="form-group">
            <label for="message" class="col-sm-2 control-label">About yourself</label>
            <div class="col-sm-6">
                        <textarea class="form-control"
                                  id="message" rows="8"
                                  placeholder="Tell us something about yourself..."
                                  name="introduction"
                                  ng-model="user.introduction"></textarea>
            </div>
        </div>
        <!--Interests-->
        <div class="form-group">
            <label class="col-sm-2 control-label">Interests</label>
            <div class="form-check form-check-inline col-sm-6">
                <ul>
                    <li>
                        <input type="checkbox" id="tennis" ng-model="user.interest.tennis"/>
                        <label for="tennis">Tennis</label>
                    </li>
                    <li>
                        <input type="checkbox" id="running" ng-model="user.interest.running"/>
                        <label for="running">Running</label>
                    </li>
                    <li>
                        <input type="checkbox" id="gokart" ng-model="user.interest.gokart"/>
                        <label for="gokart">Gokart</label>
                    </li>
                    <li>
                        <input type="checkbox" id="hiking" ng-model="user.interest.hiking"/>
                        <label for="hiking">Hiking</label>
                    </li>
                    <li>
                        <input type="checkbox" id="cinema" ng-model="user.interest.cinema"/>
                        <label for="cinema">Cinema</label>
                    </li>
                    <li>
                        <input type="checkbox" id="theater" ng-model="user.interest.theater"/>
                        <label for="theater">Theater</label>
                    </li>
                    <li>
                        <input type="checkbox" id="cardGames" ng-model="user.interest.cardGames"/>
                        <label for="cardGames">Card Games</label>
                    </li>
                    <li>
                        <input type="checkbox" id="cityWalks" ng-model="user.interest.cityWalks"/>
                        <label for="cityWalks">City Walks</label>
                    </li>
                </ul>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="/u/profile" type="button" id="cancel" class="btn btn-info btn-lg">Cancel</a>
                <input type="submit" value="Submit" class="btn btn-info btn-lg"
                   ng-click="saveProfile()" disabled="disabled"/>
            </div>
        </div>

    </form>

</div>

<script>

</script>
</body>

</html>