<!DOCTYPE html >
<html ng-app="actimate">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>Hello AngularJS - Hello World</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/registration.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular-messages.js"></script>
    <script src="/js/controller/user_controller.js"></script>
    <script src="/js/controller/stageController.js"></script>

</head>
<body ng-controller="UserCtrl">
<div class="container">
    <div id="signup">
        <div class="signup-screen">
            <div class="space-bot text-center">
                <h1>Sign up</h1>
            </div>
            <form class="form-register ng-valid-email ng-invalid ng-invalid-required ng-dirty ng-valid-parse ng-invalid-minlength" name="validForm" ng-submit="addUser(form-register.$valid)">
                <div class="form-group text-center">
                    <label class="col-md-12 control-label" for="email">Email</label>
                    <div class="input-field col s6">
                        <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required="required"/>
                    </div>
                    <div class="alert" ng-show="form-register.email.$error.email"><p>Invalid email address</p></div>
                </div>
                <div class="form-group text-center">
                    <label class="col-md-12 control-label" for="password">Password</label>
                    <div class="input-field col s6"><input type="password" ng-minlength='6' id="password" class="form-control" name="password" ng-model="user.password" required="required"/></div>
                    <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid ">Your password must be at least 6 characters.</p>
                </div>
                <div class="form-group text-center">
                    <label class="col-md-12 control-label" for="password2">Password again</label>
                    <div class="input-field col s6"><input type="password" class="form-control" id="password2" name="password_again" ng-model="user.password_again" required="required" compare-to="user.password"/></div>
                    <div class="alert" ng-show="form-register.$error"> <span class="alert" ng-show="form-register.password_again.$error.compareTo">Passwords don't match.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="bt-pad col-md-14"><input type="submit" value="Submit" class="waves-effect waves-light btn done"/></div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>