<!DOCTYPE html >
<html ng-app="actimate">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>ActiMate</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/registration.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular-messages.js"></script>
    <script src="/js/controller/userController.js"></script>
    <script src="/js/controller/stageController.js"></script>
    <script src="/js/jquery/validation.js"></script>
    <script src="https://use.fontawesome.com/7c224a1209.js"></script>

</head>

<body ng-controller="UserCtrl">
<nav>
    <a href="/">HOME</a>
</nav>

    <div id="signup">
        <div class="signup-screen">
            <div class="space-bot text-center">
                <h1 id="sign-up-title">Register</h1>
            </div>
            <form class="form-register ng-valid-email ng-invalid ng-invalid-required ng-dirty ng-valid-parse ng-invalid-minlength"
                  name="validForm" ng-submit="addUser(validForm.$valid)" novalidate="novalidate">

                <div class="form-group text-center" id="emailDiv">
                    <label class="col-md-12 control-label" for="email">EMAIL</label>
                    <div class="input-field col s6 input-group">
                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input onfocus="hideError()" onblur="validateEmailFormat()"
                                                           placeholder="example@example.com" type="email" name="email"
                                                           id="email" class="form-control" ng-model="user.email"
                                                           required="required"/></div>
                    <span class="help-block email-error-message" style="display:none;"> </span>
                    <span class="help-block email-format-message" style="display:none;"></span>
                </div>

                <div class="form-group text-center" id="pwdDiv">
                    <label class="col-md-12 control-label" for="password">PASSWORD</label>
                    <div class="input-field col s6 input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" ng-minlength='6' id="password"
                                                           onkeyup="validatePasswordFormat()" onchange="passwordMatch()"
                                                           class="form-control password" name="password"
                                                           ng-model="user.password" required="required"/></div>
                    <span class="help-block password-validate-message" style="display:none;"> </span>
                </div>

                <div class="form-group text-center" id="pwd2Div">
                    <label class="col-md-12 control-label" for="confirmPassword">CONFIRM PASSWORD</label>
                    <div class="input-field col s6 input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input onkeyup="passwordMatch()" type="password"
                                                           class="form-control password-again" id="confirmPassword"
                                                           name="confirmPassword" ng-model="user.confirmPassword"
                                                           required="required" compare-to="user.password"/></div>
                    </div>
                    <span class="help-block password-error-message" style="display:none;"> </span>
                <br/>
                <br/>

                <div class="form-group" id="signupBtnDiv">
                    <div class="bt-pad col-md-14"><input type="submit" value="SUBMIT"
                                                         class="waves-effect waves-light btn done registration-button btn-lg btn-block"/>
                    </div>
                </div>
                <span class="help-block success-message" style="display:none;"> </span>

            </form>
        </div>
    </div>

</body>
</html>