<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>

    <meta http-equiv="cleartype" content="on"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>

    <title>Actimate</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="/css/index.css"/>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/profile.css"/>
    <link rel="stylesheet" type="text/css" href="/css/event_list.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular-messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


    <script rel="text/javascript" src="/js/jquery/profile.js"></script>

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controller/eventOnDashboardController.js"></script>
    <script type="text/javascript" src="/js/directives/eventOnDashboardDirective.js"></script>
    <script type="text/javascript" src="/js/route.js"></script>

</head>
<body ng-controller="loadEventCtrl">
<nav>
    <ul class="fix top">


        <li><a sec:authorize="hasAuthority('ADMIN')" href="/admin">ADMIN</a></li>
        <li><a href="/">HOME</a></li>
        <li><a href="/u/create_event" id="createEvent">CREATE EVENT</a></li>
        <li><a sec:authorize="isAuthenticated()" href="/u/profile" id="profile">PROFILE</a></li>
        <li><a sec:authorize="isAuthenticated()" id="logout" th:href="@{/logout}">LOGOUT</a></li>

    </ul>
</nav>
<div id="event" class="eventondashbord container">


    <div class="events" ng-repeat="event in events">
            <section id="eventName" class="eventName"><li class="eventondashbord-head-text">{{event.name}}</li></section>
            <section id="eventLocation" class="eventLocation"><li class="eventondashbord-text">{{event.location}}</li></section>
            <section id="eventDate" class="eventDate"><li class="eventondashbord-text">{{event.date}}</li></section>
            <section id="eventInsterest" class="eventInsterest"><li class="eventondashbord-text">{{event.interest}}</li></section>
    </div>

</div>
</body>
</html>