<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<div th:fragment="copy">

    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#actiMateNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand active" href="/"><span
                            class="glyphicon glyphicon-home"></span> ActiMate</a>
                </div>
                <div class="collapse navbar-collapse navbar-inverse" id="actiMateNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/admin/users"><i class="fa fa-users" aria-hidden="true"></i>USERS</a></li>
                        <li><a href="/admin/activities"><i class="fa fa-bolt" aria-hidden="true"></i> ACTIVITIES</a></li>
                        <li><a href="/admin/email"><i class="fa fa-envelope" aria-hidden="true"></i> EMAILS</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:inline="text"><i class="fa fa-user-circle-o"
                                                   aria-hidden="true"></i> [[${#httpServletRequest.remoteUser}]]</a>
                        </li>
                        <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>

</div>
</html>